<!-- your html code here -->gii
<div class="containner pb-5">
    <div class="letters">
        <h1 id="contact">Contact</h1>
        <p>Send your email for more information</p>
    </div>
    <div class="area-contact">
       <form>
        <div class="row mb-3">
            <label for="colFormlabel" class="col-sm-2 col-form-label"><strong>Your Email</strong></label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormlabel" placeholder="Your email"
            </div>
        </div>

        <div class="row mb-3">
            <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label"><strong>Your massage</strong></label>
            <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your massage here"></textarea>
            </div>
        </div>
        <div class="col-12 justify-contect-end d-flex">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>